<html lang="en">
  <head>
    <title>Shell-E: Options</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./options.css" />
  </head>
  <body>
    <main>
      <section>
        <header>
          <img src="../images/icons/logo_128.png" alt="logo" />
          <h1>Shell-E: Options</h1>
        </header>
        <form>
          <lable>
            Server Address: <input id="server" name="server" title="server" />
          </lable>
          <label>
            Active <input title="on" id="on" type="checkbox" name="on" />
          </label>
          <button id="button-save" type="button" id="button-save">Save</button>
        </form>
      </section>
    </main>
    <script src="./options.mjs"></script>
  </body>
</html>
